name: Schedule Test

on:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print trigger
        run: |
          echo "EVENT: $GITHUB_EVENT_NAME"
          echo "EVENT PATH: $GITHUB_EVENT_PATH"
          echo "--- event payload ---"
          cat "$GITHUB_EVENT_PATH"